<!DOCTYPE html>
<html lang="en">

<head>
  <title>Employee DXC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="js/app.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
  <div class="container">
    <hr>
    <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal">Add New</button>
    <h2>All Employees</h2>
    <span class="clearfix"></span>
    <hr>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fullname</th>
          <th>Short Name</th>
          <th>Marital Status</th>
          <th>Spouse’s name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in employees">
          <td>{{$index + 1}}</td>
          <td>{{employee.fullname}}</td>
          <td>{{employee.shortname}}</td>
          <td>{{employee.maritalStatus}}</td>
          <td>{{employee.SpouseName}}</td>
          <td>
            <button class="btn btn-info btn-sm" type="button" data-toggle="modal" 
                    data-target="#myModalEdit" ng-click="selectEmployee(employee)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" 
                    data-target="#myModalDelete" ng-click="selectEmployee(employee)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Employee Registration</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputFullname" class="col-sm-2 control-label">Fullname</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFullname" 
                        placeholder="Enter Fullname" ng-model="newEmployee.fullname">
              </div>
            </div>

            <div class="form-group">
              <label for="inputShortname" class="col-sm-2 control-label">Shortname</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputShortname" 
                        placeholder="Enter Shortname" ng-model="newEmployee.shortname">
              </div>
            </div>

            <div class="form-group">
              <label for="inputMaritalStatus" class="col-sm-2 control-label">Material Status</label>
              <div class="col-sm-10">
                <select ng-model="newEmployee.maritalStatus" ng-options="x for x in maritalStatus"></select>
              </div>
            </div>

            <div class="form-group">
              <label for="inputSpouseName" class="col-sm-2 control-label">Spouse's Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputSpouseName" 
                        placeholder="Enter Spouse's Name" ng-model="newEmployee.SpouseName" ng-disabled="newEmployee.maritalStatus !== 'Married'">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default" data-dismiss="modal" 
                        ng-click="saveEmployee();">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div id="myModalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit For {{clickedEmployee.fullname}}</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputFullname" class="col-sm-2 control-label">Fullname</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputFullname" 
                        placeholder="Enter new Fullname" ng-model="clickedEmployee.fullname">
              </div>
            </div>

            <div class="form-group">
              <label for="inputShortname" class="col-sm-2 control-label">Shortname</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputShortname" 
                        placeholder="Enter new Shortname" ng-model="clickedEmployee.shortname">
              </div>
            </div>

            <div class="form-group">
                <label for="inputMaritalStatus" class="col-sm-2 control-label">Material Status</label>
                <div class="col-sm-10">
                  <select ng-model="clickedEmployee.maritalStatus" ng-options="x for x in maritalStatus"></select>
                </div>
              </div>
  
              <div class="form-group" ng-if="clickedEmployee.maritalStatus === 'Married'">
                <label for="inputSpouseName" class="col-sm-2 control-label">Spouse's Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSpouseName" 
                          placeholder="Enter Spouse's Name" ng-model="clickedEmployee.SpouseName">
                </div>
              </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Done</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal -->
  <div id="myModalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are You Sure?</h4>
        </div>
        <div class="modal-body">
          <h3 style="color: red">You are going to delete the employee {{clickedEmployee.fullname}}. All information will be deleted and can't be undone.
          </h3>
          <br/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" 
                  data-dismiss="modal" ng-click="deleteEmployee()">Yes</button>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">No</button>
        </div>
      </div>

    </div>
  </div>
</body>

</html>